This image is based on the sources located at
https://github.com/GoogleCloudPlatform/cos-gpu-installer. For any issues or
assistance, please report on
https://github.com/GoogleCloudPlatform/cos-gpu-installer.